---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import Inventario from "../../components/inventario/inventario_personal.astro";

---
<DashboardLayout title="Inventario">
  <p>Este es tu inventario personal</p>
  <br>
  <Inventario />
