---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import PresupuestoForm from "../../components/proyectos/PresupuestoForm.astro";
---

<DashboardLayout title="Presupuestos">
	<h1 class="text-2xl font-bold mb-6 text-blue-800">Asignar Presupuesto a Centro de Costo</h1>
	<PresupuestoForm />
</DashboardLayout>
